* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container,
.container1 {
  max-width: 800px;
  margin: auto;
  background: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #1f91ef;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #1274c2;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: red;
}

.team-lead-list,
.developer-list {
  display: flex;
  flex-direction: column;
}

.team-lead-card,
.developer-card {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #e9f1f9;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  cursor: pointer;
}

.team-lead-card h3,
.developer-card h3 {
  font-size: 1.2em;
}

.ticket-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.ticket {
  background: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pending {
  border-left: 5px solid red;
}
